# RetroArch on RK3506 (no GPU): software rendering to DRM dumb buffer
video_driver = "sdl_dingux"
video_smooth = "false"
audio_driver = "alsa"
menu_driver = "rgui"
libretro_directory = "/usr/lib/libretro"
libretro_info_path = "/usr/lib/libretro"
savefile_directory = "/root/saves"
savestate_directory = "/root/states"
input_autodetect_enable = "true"
autoload_okay = "true"
rgui_browser_directory = "/root/roms"
rgui_menu_color_theme = "4"
