// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
* Copyright (c) 2025 HZHY Electronics Co., Ltd.
*/

/dts-v1/;

#include "rk3506.dtsi"
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/suspend/rockchip-rk3506.h>

/ {
	model = "HZ-RK3506G_MiniEVM NAND";
	compatible = "rockchip,rk3506-evb1-v10", "rockchip,rk3506";
	version = "v1.0.0_20251124";
	
	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff0a0000 console=ttyFIQ0 ubi.mtd=5 root=ubi0:rootfs rw rootfstype=ubifs rootwait snd_aloop.index=7 snd_aloop.use_raw_jiffies=1";
	};
	
    aliases {
        wireless-bluetooth = &bt_dev;
        wireless-wlan = &wlan_dev;
    };

    bt_dev: wireless-bluetooth {
        compatible = "bluetooth-platdata";
        status = "disabled";
    };

    wlan_dev: wireless-wlan {
        compatible = "wlan-platdata";
        status = "disabled";
    };
	
	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <1500000>;	/* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
	};
	
	vcc12v_dc: vcc12v-dc {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dc";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};
	
	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dc>;
	};
	
	vcc3v3_stb: vcc3v3-stb {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_stb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};
	
	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc3v3_stb>;
	};
	
	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm0_4ch_0 0 5000 1>;
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <710000>;
		regulator-max-microvolt = <1207000>;
		regulator-init-microvolt = <1011000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc_sys>;
	};

	//typec供电
	typec_vcc: typec_vcc {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;
		regulator-name = "typec_vcc";
		regulator-boot-on;
		regulator-always-on;
	};
	
	leds: leds {
		compatible = "gpio-leds";
		
		work_led: work-led {
			gpios = <&gpio1 RK_PC1 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
		//拓展版D1
		EXP_D1: EXP_D1 {
			gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	//按键S1
	user_adc_keys: user-adc-keys {
		status = "okay";
		compatible = "adc-keys";
		io-channels = <&saradc 3>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;
	
		/* S1 */
		S1-key {
			label = "S1";
			linux,code = <KEY_UP>;
			press-threshold-microvolt = <410000>;
		};
	};
	
	vcc3v3_lcd_n: vcc3v3-lcd-n {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd_n";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_en>;
		reset-gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
	
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm0_4ch_2 0 25000 0>;
		brightness-levels = <
		0  20  20  21  21  22  22  23
		23  24  24  25  25  26  26  27
		27  28  28  29  29  30  30  31
		31  32  32  33  33  34  34  35
		35  36  36  37  37  38  38  39
		40  41  42  43  44  45  46  47
		48  49  50  51  52  53  54  55
		56  57  58  59  60  61  62  63
		64  65  66  67  68  69  70  71
		72  73  74  75  76  77  78  79
		80  81  82  83  84  85  86  87
		88  89  90  91  92  93  94  95
		96  97  98  99 100 101 102 103
		104 105 106 107 108 109 110 111
		112 113 114 115 116 117 118 119
		120 121 122 123 124 125 126 127
		128 129 130 131 132 133 134 135
		136 137 138 139 140 141 142 143
		144 145 146 147 148 149 150 151
		152 153 154 155 156 157 158 159
		160 161 162 163 164 165 166 167
		168 169 170 171 172 173 174 175
		176 177 178 179 180 181 182 183
		184 185 186 187 188 189 190 191
		192 193 194 195 196 197 198 199
		200 201 202 203 204 205 206 207
		208 209 210 211 212 213 214 215
		216 217 218 219 220 221 222 223
		224 225 226 227 228 229 230 231
		232 233 234 235 236 237 238 239
		240 241 242 243 244 245 246 247
		248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
		status = "okay";
	};
	
	
};

//ADC节点
&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&drm_logo {
	compatible = "rockchip,drm-logo";
	reg = <0x400000 0x100000>;
};

&fspi {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

&mmc {
	cap-mmc-highspeed;
	cap-sd-highspeed;
	bus-width = <4>;
	no-sdio;
	no-mmc;
	cd-gpios = <&gpio1 RK_PB5 GPIO_ACTIVE_LOW>;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk_pins &sdmmc_cmd_pins &sdmmc_bus4_pins &sdmmc_det>;
	vmmc-supply = <&vcc3v3_stb>;
	vqmmc-supply = <&vcc3v3_stb>;
	status = "okay";
};

&cma {
	size = <0x1600000>;
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&can0 {
	rockchip,rx-max-data = <18>;
	assigned-clocks = <&cru CLK_CAN0>;
	assigned-clock-rates = <300000000>;
	pinctrl-0 = <&rm_io19_can0_tx &rm_io20_can0_rx>;
	pinctrl-names = "default";
	status = "disabled";
};

&can1 {
	rockchip,rx-max-data = <18>;
	assigned-clocks = <&cru CLK_CAN1>;
	assigned-clock-rates = <300000000>;
	pinctrl-0 = <&rm_io13_can1_tx &rm_io18_can1_rx>;
	pinctrl-names = "default";
	status = "disabled";
};

&rga2 {
	status = "okay";
};

&rng {
	status = "okay";
};

&gmac0 {
	phy-mode = "rmii";
	clock_in_out = "output";
	
	snps,reset-gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;
	
	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii0_miim_pins
	&eth_rmii0_tx_bus2_pins
	&eth_rmii0_rx_bus2_pins
	&eth_rmii0_clk_pins>;
	
	phy-handle = <&rmii_phy0>;
	status = "okay";
};


&mdio0 {
	rmii_phy0: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&gmac1 {
	phy-mode = "rmii";
	clock_in_out = "input";
	
	//snps,reset-gpio = <&gpio4 RK_PA3 GPIO_ACTIVE_LOW>;
	snps,reset-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;
	
	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii1_miim_pins
	&eth_rmii1_tx_bus2_pins
	&eth_rmii1_rx_bus2_pins
	&eth_rmii1_clk_pins>;
	
	phy-handle = <&rmii_phy1>;
	status = "disabled";
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io25_i2c0_scl &rm_io24_i2c0_sda>;
	
	rtc_RS4C1339: rtc@68 {
		compatible = "dallas,ds1339";
		reg = <0x68>;
		status = "okay";
	};
};


&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io4_i2c2_scl
	&rm_io5_i2c2_sda>;
	dsi1_touch: gt9xx@14 {
		compatible = "goodix,gt9xx";
		reg = <0x14>;
		touch-gpio = <&gpio1 RK_PA1 IRQ_TYPE_LEVEL_HIGH>;
		//reset-gpio = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
		max-x = <720>;
		max-y = <1280>;
		tp-size = <911>;
		tp-supply = <&vcc_sys>;
		wakeup-source;
		goodix-ts-name = "dsi1_ts_gt9xx";
		status = "okay";
	};
	
};

&mdio1 {
	rmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru CLK_MAC_OUT>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <25000000>;
	};
};

&pwm0_4ch_2 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io3_pwm0_ch2>;
};

&vop_out_rgb {
	/delete-property/ remote-endpoint;
};

&usb2phy {
	status = "okay";
};

&u2phy_otg0 {
	status = "okay";
};

&u2phy_otg1 {
	status = "okay";
};

&usb20_otg0 {
	//dr_mode = "peripheral";
	dr_mode = "host";
	status = "okay";
};


&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&vop {
	status = "okay";
};

&display_subsystem {
	logo-memory-region = <&drm_logo>;
	status = "okay";
};

&dsi_dphy {
	status = "okay";
};

&dsi_in_vop {
	status = "okay";
};

&route_dsi {
	status = "okay";
};

&dsi {
	status = "okay";
	dsi_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		enable-gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
		
		reg = <0>;
		backlight = <&backlight>;
		prepare-delay-ms = <5>;
		reset-delay-ms = <1>;
		init-delay-ms = <80>;
		disable-delay-ms = <10>;
		unprepare-delay-ms = <5>;
		
		width-mm = <68>;
		height-mm = <121>;
		
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
		MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_NO_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes  = <2>;
		panel-init-sequence = [
		39 00 04 B9 FF 83 94
		//15 00 02 36 01(倒向显示)
		//15 00 02 36 02(正向显示)
		15 00 02 36 01
		39 00 07 BA 61 03 68 6B B2 C0
		39 00 0B B1 48 12 72 09 32 54 71 71 57 47
		39 00 07 B2 00 80 64 0C 0D 2F
		39 00 16 B4 73 74 73 74 73 74 01 0C 86 75 00 3F 73 74 73 74 73 74 01 0C 86
		39 00 03 B6 6E 6E
		39 00 22 D3 00 00 07 07 40 07 0C 00 08 10 08 00 08 54 15 0A 05 0A 02 15 06 05 06 47 44 0A 0A 4B 10 07 07 0C 40
		39 00 2D D5 1C 1C 1D 1D 00 01 02 03 04 05 06 07 08 09 0A 0B 24 25 18 18 26 27 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 20 21 18 18 18 18
		39 00 2D D6 1C 1C 1D 1D 07 06 05 04 03 02 01 00 0B 0A 09 08 21 20 18 18 27 26 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 25 24 18 18 18 18
		39 00 3B E0 00 0A 15 1B 1E 21 24 22 47 56 65 66 6E 82 88 8B 9A 9D 98 A8 B9 5D 5C 61 66 6A 6F 7F 7F 00 0A 15 1B 1E 21 24 22 47 56 65 65 6E 81 87 8B 98 9D 99 A8 BA 5D 5D 62 67 6B 72 7F 7F
		39 00 03 C0 1F 31
		15 00 02 CC 03
		15 00 02 D4 02
		15 00 02 BD 02
		39 00 0D D8 FF FF FF FF FF FF FF FF FF FF FF FF
		15 00 02 BD 00
		15 00 02 BD 01
		15 00 02 B1 00
		15 00 02 BD 00
		39 00 08 BF 40 81 50 00 1A FC 01
		15 00 02 C6 ED
		05 64 01 11
		05 78 01 29
		
		];
		
		disp_timings0: display-timings {
			native-mode = <&dsi_timing0>;
			dsi_timing0: timing0 {
				clock-frequency = <65000000>;
				hactive = <720>;
				vactive = <1280>;
				hfront-porch = <48>;
				hsync-len = <8>;
				hback-porch = <52>;
				vfront-porch = <16>;
				vsync-len = <6>;
				vback-porch = <15>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
		
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			
			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};
	
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		
		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

//rtc
&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io25_i2c0_scl
	&rm_io24_i2c0_sda>;
	pcf8563: pcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		#clock-cells = <0>;
		status = "okay";
	};
};

//RS485_0
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io28_uart1_tx
	&rm_io27_uart1_rx>;
	dma-names = "tx", "rx";
	status = "okay";
};

//RS485_1
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io9_uart2_tx
	&rm_io10_uart2_rx>;
	dma-names = "tx", "rx";
	status = "okay";
};

//beidou
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io8_uart3_tx
	&rm_io7_uart3_rx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&pinctrl {
	sdmmc {
		sdmmc_det: sd-det {
			rockchip,pins = <1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	
	lcd {
		lcd_en: lcd-en {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		
		tp_irq: tp-irq {
			rockchip,pins = <1 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};